# RevenueCollector deployment settings
# No recovery phrase/private key should be stored here.
GOVERNMENT_WALLET_ADDRESS=
TON_EXCHANGE_RATE_NGN=5000
TON_EXCHANGE_RATE_KOBO=500000
TON_TESTNET_ENDPOINT=https://testnet.toncenter.com/api/v2/jsonRPC
TONCENTER_API_KEY=
